body {
  padding: 15px;
  font-family: sans-serif;
  background-color: #cc0066;
  text-align: center;
}

#container {
  text-align: center;
  display: inline-block;
  align-self: center;
  width: fit-content;
  height: fit-content;
}

p{
  color: white;
}


