body {
  padding: 50px;
  background-color: #cc0066;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: flex;
  background-color: bisque;
  width: fit-content;
  height: fit-content;
}