body {
  padding: 50px;
  background-color: #cc0066;
  font-family: sans-serif;
}

#container {
 
  justify-content: flex;
  text-align: center;

  width: fit-content;
  height: fit-content;
  border-radius: 10px;

}

p{
  padding-left: 30px;
}
