.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ffffff;
    width: 165px;
}

.todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color:white;
    border: 2px solid rgba(255,255,255,.5) ;
}

.todoListMain .theList li{
    color: #333;
    background-color:rgba(255,255,255,.5);
    padding:15px;
    margin-bottom:15px;
    border-radius:5px;
    list-style: none;
    
    
}

.todoListMain .theList li:hover{
    background-color: cornflowerblue;
    
}

ul.theList{
    padding :0;
    
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
